<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have a new suscriber at <a href="https://www.shanjer.ca">shanjer.ca</a>! 
      <br>
  	Check it out!</p>

    <ul>
    	<li> Email: <%= @new_suscriber.email %></li>
    </ul>
  </body>
</html>