<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New message at <a href="https://www.shanjer.ca">shanjer.ca</a>! 
      <br>
  	Check it out!</p>

    <ul>
    	<li> Name: <%= @new_message.name %></li>
    	<li> Email: <%= @new_message.email %></li>
      	<li> Content: <%= @new_message.content %></li>
    </ul>
  </body>
</html>