<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New Project Published at <a href="https://www.shanjer.ca#projects">shanjer.ca</a>!
      <br>
      Check it out!
    </p>
  </body>
</html>