<div class = "container padding-top-bottom-60" >
	<h3> Problem Archive </h3>

	<br>

	<%= render 'table' %>
	<hr>


	<%= link_to 'New Problem <i class="ion-android-add"></i>'.html_safe, new_problem_path,  class: "btn btn-orange border-none btn-rounded-corner" if logged_in?(:admin) %>
	<%= link_to '<i class="ion-home"></i> Home', root_url, class: "btn btn-orange border-none btn-rounded-corner" %>
</div>