<div class="row">
	<div class="col-md-8">
		<h3>New Problem</h3>

		<%= render 'form', problem: @problem %>

		<%= link_to 'Back', problems_path,  class: "btn btn-danger margin-top-bottom-10" %>

	</div>
</div>


