<section id="about" class="padding-top-90 padding-bottom-90">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "minhalshanjer.jpg", class: "img-responsive sm-display-none profile-border", alt:"" %>
        <img class="img-responsive sm-display-none" src="images/hand_phone.png" alt="">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="heading-wraper text-center margin-bottom-80">
              <h4>About Me</h4>
              <hr class="heading-devider gradient-orange">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Personal</h5>
            <p class="services-content margin-bottom-25">Hi! I'm Minhal Shanjer. I am a Computer Science student at the University of Waterloo. Expecting to graduate in 2022. Love to code, hate to debug code.</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Skills</h5>
            <p class="services-content margin-bottom-25">Proficient in: Java, Ruby, Python, C, HTML, CSS, Javascript, JQuery, Git. <br/>Frameworks: Rails, Tkinter</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Hobbies</h5>
            <p class="services-content margin-bottom-25">Passionate guitarist. Artist in training. Avid video game player. Shout out to <%= link_to "The Elder Scrolls Online", "https://www.elderscrollsonline.com/en-us/home" %></p>
          </div>
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Projects 'n Stuff</h5>
            <p class="services-content margin-bottom-25">Learn about my projects <%= link_to 'here.', projects_path %>. <br/> Learn about solutions to coding problems <%= link_to 'here.', problems_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>