<section id="about" class="padding-top-90 padding-bottom-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-wraper text-center margin-bottom-25">
            <h4>About Me</h4>
            <hr class="heading-devider gradient-orange">
        </div>
      </div>
      <div class="col-md-4">
        <%= image_tag "minhalshanjer.jpg", class: "img-responsive profile-border", alt:"" %> <!-- removed sm-display-none class from imgtag -->
      </div>
      <div class="col-md-8 padding-top-90">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Personal</h5>
            <p class="services-content margin-bottom-25">Hi, I'm Minhal Shanjer. I study computer science at the University of Waterloo. I fell in love with CS ever since I participated in the Canadian Computing Competition (CCC) in Grade 10.</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Tech Interests</h5>
            <p class="services-content margin-bottom-25">Web Development | Machine Learning | Software Development | Web Scraping | Virtual Reality </p>
          </div>
        </div>
        <div class="row padding-top-35">
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Hobbies</h5>
            <p class="services-content margin-bottom-25">Passionate guitarist. Artist in training. Avid video game player. Shout out to <%= link_to "Europa Universalis IV.", "https://eu4.paradoxwikis.com/Europa_Universalis_4_Wiki" %></p>
          </div>
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">Projects 'n Stuff</h5>
            <p class="services-content margin-bottom-25">Learn about my projects <%= link_to 'here.', projects_path %> <br/> Learn about solutions to coding problems <%= link_to 'here.', problems_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>