<section id="coding-problems" class="padding-top-bottom-120 bg-image-fit-100 dark-background">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-wraper text-center margin-bottom-25">
            <h4>Coding Problems</h4>
            <hr class="heading-devider gradient-orange">
        </div>
      </div>
      <div class="col-md-6">
        <% @problems.each do |problem| %>
          <div class="feature-wiget">
            <div class="icon-wraper">
              <h5 class="bottom-line"><i class="ion-code special-code-icon"></i><%= link_to problem.name, problem %></h5>
            </div>
            <div class="content">
              <h6><%= problem.from %></h6>
              <p class="character-limit-250"><%= problem.description %></p>
            </div>
          </div>
        <% end %>

        <div class="cta-btn-group">
          <%= link_to problems_url, class: "btn btn-blue border-none btn-rounded-corner width-archive-btn" do %>
                See Full Archive <span class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>