<section id="newsletter" class="padding-top-bottom-90 newsletter bg-image-fit-100" style="background-image: radial-gradient(circle, #84e3dd, #85e0cf, #88dcc1, #8ed8b3, #95d3a5);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-wraper text-center margin-bottom-25">
            <h4>best services</h4>
            <hr class="heading-devider gradient-orange">
        </div>
      </div>
      <div class="col-md-6 sunscription-wraper-outer col-md-offset-2 bg-fit">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 padding-top-bottom-90">
            <div class="subscription-wraper text-center">
              <h4 class="text-upper">Subscribe newslatter</h4>
              <p>Enter your email address for our weekly new update</p>
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5 sunscription-wraper-outer col-md-offset-2 bg-fit">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 padding-top-bottom-90">
            <div class="subscription-wraper text-center">
              <h4 class="text-upper">Subscribe newslatter</h4>
              <p>Enter your email address for our weekly new update</p>
              
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" size="40">
              </div>
              <a class="btn btn-orange border-none btn-rounded-corner" href="#">Subscribe  now<span class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span></a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>