<section id="newsletter" class="padding-top-bottom-120 newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-8 sunscription-wraper-outer col-md-offset-2 bg-fit" style="background:url(<%= asset_path('newsletter.png') %>">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 padding-top-bottom-90">
            <div class="subscription-wraper text-center">
              <h4 class="text-upper">Subscribe newslatter</h4>
              <p>Enter your email address for our weekly new update</p>
              <form class="subscription-form">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <a class="btn btn-orange border-none btn-rounded-corner" href="#">Subscribe  now<span class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span></a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>