<section id="cta" class="gradient-violat cta padding-top-bottom-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="cta-heading text-white">GIT CHECKOUT -B MYGITHUB</h3>
        <p class="text-white">Or Maybe My Resume</p>
        <div class="cta-btn-group">
          <%= link_to "/robots.txt", class: "btn btn-orange border-none btn-rounded-corner", download: true do %>
              Download Resume<span class="icon-on-button"><i class="ion-ios-cloud-download-outline"></i></span>
          <% end %>

          <%= link_to "https://www.github.com/minhalexus", class: "btn btn-white gradient-white border-none btn-rounded-corner" do %>
              Take Me To Github<span class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>