<section id="cta" class="gradient-violat cta padding-top-bottom-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="cta-heading text-white">Checkout My Github</h3>
        <p class="text-white">Or maybe my resume</p>
        <div class="cta-btn-group">
          <a class="btn btn-orange border-none btn-rounded-corner" href="#">Download Resume<span class="icon-on-button"><i class="ion-ios-cloud-download-outline"></i></span></a>
          <a class="btn btn-white gradient-white border-none btn-rounded-corner" href="#">Go To Github<span class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</section>