<section id="feature" class="padding-top-bottom-120 bg-image-fit-100" style="background:url(<%=asset_path('Elegant_Background.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-wraper text-center margin-bottom-25">
            <h4>Coding Problems</h4>
            <hr class="heading-devider gradient-orange">
        </div>
      </div>
      <div class="col-md-6">
        <div class="feature-wiget">
          <div class="icon-wraper">
            <i class="ion-settings"></i>
          </div>
          <div class="content">
            <h4 class="bottom-line">Easily Cutomised</h4>
            <p>Easily customise Sedna to suit your start up, portfolio or is product. Take advantage of the layered Sketch file and bring your product to life.</p>
          </div>
        </div>
        <div class="feature-wiget">
          <div class="icon-wraper">
            <i class="ion-calendar"></i>
          </div>
          <div class="content">
            <h4 class="bottom-line">MODERN DESIGN</h4>
            <p>Designed with modern trends and techniques in mind, Sedna will help your product stand out in an already saturated market.</p>
          </div>
        </div>
        <div class="feature-wiget">
          <div class="icon-wraper">
            <i class="ion-ipad"></i>
          </div>
          <div class="content">
            <h4 class="bottom-line">RESPONSIVE DEVELOPMENT</h4>
            <p>Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>