<section id="feature" class="padding-top-bottom-120 bg-image-fit-100" style="background:url(<%=asset_path('Elegant_Background.jpg') %>">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-wraper text-center margin-bottom-25">
            <h4>Coding Problems</h4>
            <hr class="heading-devider gradient-orange">
        </div>
      </div>
      <div class="col-md-6">
        <% @problems.each do |problem| %>
          <div class="feature-wiget">
            <div class="icon-wraper">
              <h5 class="bottom-line"><i class="ion-code"></i> <%= link_to problem.name, problem %></h5>
            </div>
            <div class="content">
              <h6><%= problem.from %></h6>
              <p><%= problem.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>