<section id="introduction" class="gradient-violat padding-top-90 home-slider">
  <div id="home-slider" class="owl-carousel">
    <div>
      <div class="sliding-card-with-bottom-image text-center padding-top-90">
        <h2 class="cta-heading text-white">Lazy Fox HTML5 Landing page</h2>
        <p class="text-white slider-para">Awesome Stylish Template Powered By THEMEWAGON</p>
        <div class="cta-btn-group">
          <a class="btn btn-orange border-none btn-rounded-corner" href="#">Download <span class="icon-on-button"><i class="ion-ios-cloud-download-outline"></i></span></a>
          <a class="btn-video text-white" href="#"><span class="icon-rounded bordered-ios"><i class="ion-ios-play-outline"></i></span>watch tutorial</a>
        </div>
        <div class="image-container text-center sm-display-none">
          <%= image_tag "mockuo2.png", class: "img-responsive" %>
          <img class="img-responsive" src="images/mockuo2.png" alt="">
        </div>
      </div>
    </div>
    
    <div>
      <div class="container">
        <div class="row">
          <div class="image-right-slide-bg clearfix" style="background-image:url(<%= asset_path('mockuo.png') %>)">
            <div class="col-md-12">
              <h2 class="cta-heading text-white">Lazy Fox HTML5 Landing page</h2>
              <p class="text-white slider-para">Smooth Scroll and Gradient style</p>
              <div class="cta-btn-group">
                <a class="btn btn-orange border-none btn-rounded-corner" href="#">Download <span class="icon-on-button"><i class="ion-ios-cloud-download-outline"></i></span></a>
                <a class="btn btn-white border-none btn-rounded-corner" href="#">Live demo<span class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>