<section id="introduction" class="gradient-violat padding-top-90 home-slider">
<div>
  <div class="container">
    <div class="row">
        <div class="col-md-12 center-padding">
          <h1 class="cta-heading text-white font-size-80">MINHAL SHANJER</h2>
          <p class="text-white slider-para">ASPIRING TO CODE SOMETHING MAGICAL  </p>
          <div class="cta-btn-group">
            <%= link_to "/robots.txt", class: "btn btn-orange border-none btn-rounded-corner", download: true do %>
              Download Resume<span class="icon-on-button"><i class="ion-ios-cloud-download-outline"></i></span>
            <% end %>
            
            <a class="btn btn-white border-none btn-rounded-corner" href="#services">Learn More<span class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span></a>
          </div>
        </div>
        <div class="col-md-12 center">
          <h6 class="text-white">University of Waterloo | Computer Science</h6>
          <h6 class="text-white">mashanje@uwaterloo.ca</h6>
        </div>
    </div>
  </div>
</div>
</section>