<section id="services" class="padding-top-90">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "hand_phone.png", class: "img-responsive sm-display-none", alt:"" %>
        <img class="img-responsive sm-display-none" src="images/hand_phone.png" alt="">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="heading-wraper text-center margin-bottom-80">
              <h4>best services</h4>
              <hr class="heading-devider gradient-orange">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">RESPONSIVE DEVELOPMENT</h5>
            <p class="services-content margin-bottom-25">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">RESPONSIVE DEVELOPMENT</h5>
            <p class="services-content margin-bottom-25">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">RESPONSIVE DEVELOPMENT</h5>
            <p class="services-content margin-bottom-25">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <h5 class="service-title">RESPONSIVE DEVELOPMENT</h5>
            <p class="services-content margin-bottom-25">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>