<section id="customer-support" class="overflow-x-hidden">
  <div class="row">
    <div class="col-md-6">
      <div class="image-wraper">
        <img class="img-responsive" src="images/support.png" alt="">
      </div>
    </div>
    <div class="col-md-5">
      <div class="customer-support-content padding-top-bottom-120 sm-padding-top-bottom-50-75">
        <h4>24/7 Customer Support</h4>
        <p class="margin-top-bottom-30">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
        <a class="btn btn-orange border-none btn-rounded-corner" href="#">need our help ? let's chat<span class="icon-on-button"><i class="ion-ios-arrow-thin-right"></i></span></a>
      </div>
    </div>
  </div>
</section>