<section id="testimonial" class="testimonial-section padding-top-bottom-90 gradient-violat">

  <div class="container">
    <div class="heading-wraper text-center">
      <h4 class="text-white">My Skills</h4>
      <hr class="heading-devider gradient-orange">
    </div>

    <% @languages.each do |language| %>
      <div class="bar-1">
        <h5 class="text-white"> <%= language.name %> </h5>
        <div class="bar" data-width="<%= language.percent_understood %>%">
          <div class="bar-inner">
            
          </div>
          <div class="bar-percent"></div>
        </div>
      </div>
    <% end %>
    
  </div>
</section>