<section id="testimonial" class="testimonial-section padding-top-bottom-90 gradient-violat">
  <div class="container">
    <div class="heading-wraper text-center">
      <h4 class="text-white">in the press</h4>
      <hr class="heading-devider gradient-orange">
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial-carousel" class="owl-carousel">
          <div>
            <div class="testimonial-container">
              <div class="client-details text-center">
                <img src="images/t-1.png" alt="">
                <h5 class="client-name">Arix Wonder</h5>
                <p class="client-designation">CEO Of LVATO</p>
                <ul class="social-list">
                  <li><a href=""><i class="ion-social-linkedin"></i></a></li>
                  <li><a href=""><i class="ion-social-pinterest"></i></a></li>
                  <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                </ul>
              </div>
              <div class="testimonial-content">
                <p><i class="ion-quote"></i></p>
                <p class="testimonial-speech">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.Built using the latest web technologies like html5, css3, and jQuery.</p>
              </div>
            </div>
          </div>
          <div>
            <div class="testimonial-container">
              <div class="client-details text-center">
                <img src="images/t-1.png" alt="">
                <h5 class="client-name">Arix Wonder</h5>
                <p class="client-designation">CEO Of LVATO</p>
                <ul class="social-list">
                  <li><a href=""><i class="ion-social-linkedin"></i></a></li>
                  <li><a href=""><i class="ion-social-pinterest"></i></a></li>
                  <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                </ul>
              </div>
              <div class="testimonial-content">
                <p><i class="ion-quote"></i></p>
                <p class="testimonial-speech">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.Built using the latest web technologies like html5, css3, and jQuery.</p>
              </div>
            </div>
          </div>
          <div>
            <div class="testimonial-container">
              <div class="client-details text-center">
                <img src="images/t-1.png" alt="">
                <h5 class="client-name">Arix Wonder</h5>
                <p class="client-designation">CEO Of LVATO</p>
                <ul class="social-list">
                  <li><a href=""><i class="ion-social-linkedin"></i></a></li>
                  <li><a href=""><i class="ion-social-pinterest"></i></a></li>
                  <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                </ul>
              </div>
              <div class="testimonial-content">
                <p><i class="ion-quote"></i></p>
                <p class="testimonial-speech">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.Built using the latest web technologies like html5, css3, and jQuery.</p>
              </div>
            </div>
          </div>
        </div>              
      </div>
    </div>
  </div>
</section>