<section id="testimonial" class="testimonial-section padding-top-bottom-90 gradient-violat">
  <div class="container">
    <div class="heading-wraper text-center">
      <h4 class="text-white">My Skills</h4>
      <hr class="heading-devider gradient-orange">
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-2">
        <p> INPUT TEXT HERE </p>            
      </div>
    </div>
  </div>
</section>