<section id="testimonial" class="testimonial-section padding-top-bottom-90 gradient-violat">

  <div class="container">
    <div class="heading-wraper text-center">
      <h4 class="text-white">My Skills</h4>
      <hr class="heading-devider gradient-orange">
    </div>

    <div class="bar-1">
    <h5 class="text-white"> Ruby on Rails </h5>
    <div class="bar" data-width="60%">
      <div class="bar-inner" style="background: red;">
        
      </div>
      <div class="bar-percent">60%</div>
    </div>
    </div>

    <div class="bar-1">
    <h5 class="text-white"> Python </h5>
    <div class="bar" data-width="85%">
      <div class="bar-inner" style="background: yellow;">
        
      </div>
      <div class="bar-percent">85%</div>
    </div>
    </div>

    <div class="bar-1">
    <h5 class="text-white"> Java </h5>
    <div class="bar" data-width="75%">
      <div class="bar-inner" style="background: blue;">
        
      </div>
      <div class="bar-percent">75%</div>
    </div>
    </div>

    <div class="bar-1">
    <h5 class="text-white"> HTML/CSS </h5>
    <div class="bar" data-width="70%">
      <div class="bar-inner" style="background: black;">
        
      </div>
      <div class="bar-percent">70%</div>
    </div>
    </div>
    
  </div>
</section>