<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 align="center">Messages</h1>
    <p class="lead", align="center">Always striving to create something magical.</p>
  </div>
</div>

<br>

<h3><%= @message.name %> </h3>

<h3><%= @message.email %></h3>

<p><%= @message.content %></p>

