<div data-turbolinks = "false">

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a id="nav-all", class="nav-link active" href="#">All</a>
    </li>
    <li class="nav-item">
      <a id="nav-css", class="nav-link" href="#">CSS</a>
    </li>
    <li class="nav-item">
      <a id="nav-js", class="nav-link" href="#">Javascript</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-md-4 cssProject">
      <a href="https://codepen.io/aundreyd/full/VjykpK/">
        <div class="card ">
          <img class="card-img-top " src="http://i1308.photobucket.com/albums/s612/aundreydrummond/Thumbnail/Adoptly_zpsvtfl1uny.jpg" alt="Adoptly img">
          <div class="card-block">
            <h2 class="card-text text-center">
          Adoptly
        </h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 jsProject">
      <a href="https://codepen.io/aundreyd/full/ZOywLO/">
        <div class="card ">
          <img class="card-img-top" src="http://i1308.photobucket.com/albums/s612/aundreydrummond/Thumbnail/Algorithims_zps8tlyuvui.jpg" alt="Algorthm img">
          <div class="card-block">
            <h2 class="card-text text-center">
          Algorithms
        </h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 cssProject">
      <a href="https://codepen.io/aundreyd/full/wGvZxj/">
        <div class="card">
          <img class="card-img-top" src="http://i1308.photobucket.com/albums/s612/aundreydrummond/Thumbnail/Amazing%20space_zpsntu2amjx.png" alt="Amazing Space img">
          <div class="card-block">
            <h2 class="card-text text-center">
          Amazing Space
        </h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 jsProject">
      <a href="https://codepen.io/aundreyd/full/ZOAxjQ/">
        <div class="card">
          <img class="card-img-top" src="http://i1308.photobucket.com/albums/s612/aundreydrummond/Thumbnail/Calculator_zpswqbodgtj.jpg" alt="Calculator img">
          <div class="card-block">
            <h2 class="card-text text-center">
          Calculator
        </h2>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 jsProject">
      <a href="https://codepen.io/aundreyd/full/RRQawP/">
        <div class="card">
          <img class="card-img-top" src="http://i1308.photobucket.com/albums/s612/aundreydrummond/Thumbnail/Its%20not%20an%20S_zps1kh3ajh0.jpg" alt="It's not an S img">
          <div class="card-block">
            <h2 class="card-text text-center">
          It's not an 'S'
        </h2>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
