<div class="row">
	<div class="col-md-8">
		<h3>New Project</h3>

		<%= render 'form', project: @project %>

		<%= link_to 'Back', projects_path, class: "btn btn-danger margin-top-bottom-10" %>
	</div>
</div>
